{% extends "/layout.html" %}
{% from "macro.html" import render_text_field %}

{% block title -%}
    Register
{%- endblock %}

{% block link %}
    {% if not current_user.is_authenticated %}
        <a href="{{ url_for('auth.login') }}" class="mdl-button mdl-button--raised mdl-button--colored" style="float: right;">로그인</a>
    {% else %}
        <a href="{{ url_for('auth.logout') }}" class="mdl-button mdl-button--raised mdl-button--colored" style="float: right;">로그아웃</a>
    {% endif %}
{% endblock %}

{% block card_title %}register{% endblock %}

{% block body -%}
<form method="POST" action="{{ url_for('auth.register') }}">
    {{ form.csrf_token }}
    <div class="mdl-card__supporting-text">
        {{ render_text_field(form.user_email, type='email', minlength=4, maxlength=20, autocomplete='off') | indent(24)}}
        {{ render_text_field(form.password, maxlength=20) | indent(24)}}
        {{ render_text_field(form.repassword, maxlength=20) | indent(24)}}
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <div class="mdl-grid">
            <input class="mdl-cell mdl-cell--12-col mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--white" type=submit value="register" style="background-color: FFAB40;">
        </div>
    </div>
</form>
{%- endblock %}
