{% extends "/layout.html" %}
{% from "macro.html" import render_text_field %}

{% block title -%}
    인증 메일 발송
{%- endblock %}

{% block link %}
{% endblock %}

{% block card_title %}인증 메일 발송{% endblock %}

{% block body -%}
        <div class="mdl-card__supporting-text">
            {{ user_email }}로 인증 메일이 발송되었습니다. 인증 후 이용해주세요!
        </div>

        <div class="mdl-card__actions mdl-card--border">
            <div class="mdl-grid">
                {# {% if current_user.is_authenticated %}
                    <a href="{{ url_for('data.file') }}" class="mdl-cell mdl-cell--12-col mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--white" style="background-color: FFAB40;">메인 페이지로</a>
                {% else %}
                    재발송 링크
                {% endif %} #}
                <a href="{{ url_for('data.file') }}" class="mdl-cell mdl-cell--6-col mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--white" style="background-color: FFAB40;">메인 페이지</a>
                <a href="{{ url_for('auth.email_send', user_email=user_email) }}" class="mdl-cell mdl-cell--6-col mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--white" style="background-color: FFAB40;">인증 메일 재발송</a>
            </div>
        </div>
{%- endblock %}